@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'JetBrains', monospace;
    overflow: hidden;
}
/* Estiliza toda a barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra */
    height: 12px; /* Altura da barra horizontal */
  }
  
  /* Estiliza a "thumb" (parte que desliza) */
  ::-webkit-scrollbar-thumb {
    background-color: #A55EFF; /* Cor da thumb */
    border-radius: 10px; /* Arredondamento */
    border: 3px solid transparent; /* Espaço entre a thumb e o track */
    background-clip: padding-box; /* Faz o fundo respeitar o border */
  }
  
  /* Estiliza o track (trilho da barra de rolagem) */
  ::-webkit-scrollbar-track {
    background-color: #1A1A1A; /* Cor do fundo do trilho */
    border-radius: 10px;
  }
  
  /* Estiliza o canto quando a barra é dupla (horizontal e vertical) */
  ::-webkit-scrollbar-corner {
    background-color: #333;
  }